//   Created by Alex on 1/30/14.

doctype html
html
    head
        script.
            agentName="#{agent}"
        title.
            Agent GUI Demo
        link(href="../../stylesheets/style.css", rel='stylesheet', type="text/css")
        link(href="../../stylesheets/vis.css", rel='stylesheet', type="text/css")
        link(href="../../stylesheets/d3.css", rel='stylesheet', type="text/css")

        script(type='text/javascript', src='../../javascripts/d3.v3.min.js')
        script(type='text/javascript', src='../../javascripts/vis.min.js')
        script(type='text/javascript', src='../../javascripts/gui.js')

    body
        img(src='../../images/logo.png')
        h1.
            Worker GUI for #{agent}
        div(id='agentStatus')
            span(id='agentStatusSpan').
                Agent status: connecting..
        div(id="agentControls")
            span(id='commandStatus')
        div(id="histogramButton")
        div(id="histogram")
        div(id="visualization")
            h2. Timeline

